<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/header.ejs') %>
<body>
    <%- include('./partial/navbar.ejs') %>
    <%- include('./partial/mobilenavbar.ejs') %>
    <main>
        <section class="ccontainer px-[10%] mx-auto my-2 font-light">
            <h1 class="text-3xl my-4 border-b border-blue-600 w-fit pb-2">About Us - Woodbobe</h1>

            <p class="mb-6">At Woodbobe, we are passionate about creating furniture that resonates with your lifestyle and preferences. Our journey began with a simple idea: to provide high-quality furniture that enhances your living spaces and reflects your unique style.</p>
        
            <p class="mb-6">Our team of skilled craftsmen and designers work diligently to bring your vision to life. Each piece of furniture is carefully curated and designed with attention to detail, ensuring not only aesthetics but also functionality.</p>
        
            <p class="mb-6">We take pride in using sustainable materials and ethical practices in our production process. Our commitment to environmental responsibility goes hand in hand with our commitment to delivering furniture of exceptional quality.</p>
        
            <p class="mb-2">Customer satisfaction is at the heart of our mission. We strive to provide a seamless shopping experience, reliable shipping, and outstanding customer support. Your feedback and trust in Woodbobe drive us to continuously improve and innovate.</p>
        
            <p class="mb-2 font-medium">Thank you for choosing Woodbobe as your furniture destination. We are excited to be a part of your journey in creating inviting and inspiring living spaces.</p>
        </section>
    </main>
    <%- include('./partial/footer.ejs') %>
    <%- include('./partial/scripts.ejs') %>
</body>
</html>