<!DOCTYPE html>
<html lang="en">
<%- include('./partial/header.ejs') %>

<body class="bg-gray-50 jagrataFont">
  <%- include('./partial/AdminNavbar.ejs') %>
  <main>
    <section class="mx-[2%] lg:mx-[8%] border rounded-md shadow-md bg-white">
      <div class="h-60 opacity-90 ">
        <img class="object-cover w-full h-full" src="https://images.unsplash.com/photo-1636955735635-b4c0fd54f360?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80" alt="">
      </div>
      <div class="relative">
        <button id="profileImg" class="px-2 py-1 -top-16 left-[54%] absolute z-50 rounded-full" type="button">
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
        <form id="profileform" action="/admin/profile/updateprofileimg" method="post" enctype="multipart/form-data">
          <input class="hidden" type="file" name="userProfile" id="userProfile">
        </form>
        <div class="flex items-center rounded-full h-28 w-28 absolute -top-16 left-1/2 -translate-x-1/2 shadow-md border-[10px] border-white">
          <img class="object-cover h-full w-full rounded-full" height="" width="" src="<%= admin.profileImg.path  %>" alt="">
          <script>
            $("#profileImg").on("click", () => {
              $("#userProfile").click();
            })
            $("#userProfile").on("change", function() {
              if (this.files.length > 0) {
                $("#profileform").submit();
              }
            });
          </script>
        </div>
        <div class="text-center pt-14">
          <p class="text-xl font-semibold text-gray-800"><%= admin.fullName  %></p>
          <p class=" text-gray-500">Admin</p>
        </div>
      </div>
      <div class="bg-gray-50 py-2 text-gray-700 font-medium">
        <div class="flex w-fit">
          <a class="px-3 py-1 nested-links" href="#adminprofile">Account</a>
          <a class="px-3 py-1 nested-links" href="#adminsecurity">Password</a>
          <a class="px-3 py-1 nested-links" href="#adminperf">Site Preferences</a>
        </div>
      </div>
    </section>
    <section class="mx-[2%] lg:mx-[8%] border rounded-md shadow-md bg-white my-6 py-[3%] relative">
      <!-- ALERT -->
      <% if (messages && messages.alert) { %>
      <div id="Alert" class="absolute right-0 rounded bg-gradient-to-l from-teal-500 to-teal-400 text-white font-bold px-3 py-2">
        <p>
          <%= messages.alert %>
        </p>
      </div>
      <% } %>
      <!-- ALERT END -->
      <div id="adminprofile" data-active="" class="adminnestedItems">
        <form class="w-80 mx-auto px-6" action="/admin/profile/updateprofile" method="post">
          <div class="my-3 font-medium text-xl">
            <p>Update your profile</p>
          </div>
          <div>
            <button class="w-full flex justify-end my-3 p-2 editbtn" type="button">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
          </div>
          <div class="mb-3">
            <input class="px-3 py-2 border rounded-md w-full" disabled type="text" name="adminName" id="adminName" value="<%= admin.fullName  %>">
          </div>
          <div class="mb-3">
            <input class="px-3 py-2 border rounded-md w-full" disabled type="email" name="adminEmail" id="adminEmail" value="<%= admin.email  %>">
          </div>
          <div class="mb-3">
            <input class="px-3 py-2 border rounded-md w-full" disabled type="number" name="adminMobile" id="adminMobile" value="<%= admin.mobile  %>">
          </div>
          <div class="mb-3">
            <input disabled class="cursor-pointer px-3 py-2 bg-gray-700 text-white font-medium uppercase rounded-md w-full" type="submit" value="update">
          </div>
        </form>
      </div>
      <div id="adminsecurity" class="adminnestedItems">
        <form class="w-80 mx-auto px-6" action="/admin/profile/updatepassword" method="post">
          <div class="my-3 font-medium text-xl">
            <p>Update your Password</p>
          </div>
          <div>
            <button class="w-full flex justify-end my-3 p-2 editbtn" type="button">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
          </div>
          <div class="mb-6">
            <input class="px-3 py-2 border rounded-md w-full" disabled type="password" name="adminoldPass" id="adminoldPass" placeholder="Old password">
          </div>
          <div class="my-2">
            <div class="mb-3">
              <input class="px-3 py-2 border rounded-md w-full" disabled type="password" name="adminnewPass" id="adminnewPass" placeholder="New password">
            </div>
            <div class="mb-3">
              <input class="px-3 py-2 border rounded-md w-full" disabled type="password" name="adminCongPass" id="adminCongPass" placeholder="Confirm password">
            </div>
          </div>
          <div class="my-6">
            <input disabled class="cursor-pointer px-3 py-2 bg-gray-700 text-white font-medium uppercase rounded-md w-full" type="submit" value="update">
          </div>
        </form>
      </div>
      <div id="adminperf" class="adminnestedItems">
        <p class="my-3 font-medium text-xl mx-4">Site Preference</p>
        <!-- GENERAL PERFERENCES -->
        <div class="lg:flex mt-12 px-8">
          <form class="w-full" action="/admin/profile/siteInfo" method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <img class="border p-4 rounded-md" width="94" src="
              <% if (siteInfo.siteLogo === "") { %>
                https://cdn-icons-png.flaticon.com/512/763/763775.png
              <% } else { %>
                <%= siteInfo.siteLogo %>
              <% } %>" alt="">
            </div>
            <div class="flex gap-12">
              <div class="w-full">
                <div class="mb-3">
                  <label for="siteName">Site Name</label>
                  <input class="block px-3 py-2 mt-1 border rounded-md w-full" type="text" name="siteName" id="siteName" value="<%= siteInfo.siteName  %>" placeholder="Site Name" required>
                </div>
                <div class="mb-3">
                  <label for="siteLogo">Site Logo</label>
                  <input class="block px-3 py-2 mt-1 border rounded-md w-full" type="file" name="siteLogo" id="siteLogo" value="" placeholder="Site Logo">
                </div>
                <div class="mb-3">
                  <label for="siteURL">Site URL/label>
                    <input class="block px-3 py-2 mt-1 border rounded-md w-full" type="text" name="siteURL" id="siteURL" value="<%= siteInfo.siteURL  %>" placeholder="Site URL Link" required>
                </div>
              </div>
              <div class="w-full">
                <div class="mb-3">
                  <p>Company Address</p>
                  <div class="mb-2">
                    <input class="block px-3 py-2 mt-1 border rounded-md w-full" type="text" name="address" id="address" value="<%= siteInfo.coAddress.address  %>" placeholder="Co Address">
                  </div>
                  <div class="mb-2">
                    <input class="block px-3 py-2 mt-1 border rounded-md w-full" type="text" name="pincode" id="pincode" value="<%= siteInfo.coAddress.pincode  %>" placeholder="Co Pincode">
                  </div>
                  <div class="mb-2">
                    <input class="block px-3 py-2 mt-1 border rounded-md w-full" type="text" name="city" id="city" value="<%= siteInfo.coAddress.city  %>" placeholder="Co City">
                  </div>
                  <div class="mb-2">
                    <input class="block px-3 py-2 mt-1 border rounded-md w-full" type="text" name="country" id="country" value="<%= siteInfo.coAddress.country  %>" placeholder="Co City">
                  </div>
                </div>
                <div class="mb-3">
                  <label for="description">Site Description</label>
                  <input class="block px-3 py-2 mt-1 border rounded-md w-full" type="text" name="description" id="description" value="<%= siteInfo.siteDescription  %>" placeholder="Site Description">
                </div>
                <div class="mb-3">
                  <label for="siteTiming">Working Time</label>
                  <input class="block px-3 py-2 mt-1 border rounded-md w-full" type="text" name="siteTiming" id="siteTiming" value="<%= siteInfo.siteTiming  %>" placeholder="from 10AM - 6PM...">
                </div>
                <div class="mb-3">
                  <label for="siteMail">Site Mail</label>
                  <input class="block px-3 py-2 mt-1 border rounded-md w-full" type="text" name="siteMail" id="siteMail" value="<%= siteInfo.siteMail  %>" placeholder="company@support.mail">
                </div>
                <div class="mb-3">
                  <label for="contactInfo">Site PhoneNo</label>
                  <input class="block px-3 py-2 mt-1 border rounded-md w-full" type="text" name="contactInfo" id="contactInfo" value="<%= siteInfo.contactInfo  %>" placeholder="+919191919191">
                </div>
              </div>
            </div>
            <button class="flex mx-auto mt-3 border border-black hover:border-blue-600 text-black hover:bg-blue-600 hover:text-white hover:transition-all py-2 px-6 rounded-md font-medium" type="submit">Update
            </button>
          </form>
        </div>
      </div>
    </section>
  </main>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const toggleCheckbox = document.getElementById('toggle');
      const toggleLabel = document.querySelector('.toggle-label');

      toggleCheckbox.addEventListener('change', function() {
        if (toggleCheckbox.checked) {
          toggleLabel.classList.remove('bg-gray-300');
          toggleLabel.classList.add('bg-blue-500');
          toggleCheckbox.classList.add('-right-2');
        } else {
          toggleLabel.classList.remove('bg-blue-500');
          toggleLabel.classList.add('bg-gray-300');
          toggleCheckbox.classList.remove('-right-2');
        }
      });
    });

    $("#adminprofile").show()
  </script>
  <%- include('./partial/scripts.ejs') %>
</body>

</html>