<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/header.ejs') %>
<body>
    <%- include('./partial/navbar.ejs') %>
    <%- include('./partial/mobilenavbar.ejs') %>
    <main>
        <section class="container px-[10%] mx-auto my-2 font-light">
            <h1 class="text-3xl my-4 border-b border-blue-600 w-fit pb-2">Our furniture assembly</h1>
            <p class="mb-6">
                When it comes to furniture assembly, Woodbobe is dedicated to ensuring your experience is both convenient and straightforward. We understand that assembling furniture can sometimes be a daunting task, and that's why we offer comprehensive solutions to make the process seamless for you.
            </p>
            <p class="mb-6">
                With every piece of furniture you purchase from Woodbobe, we provide detailed assembly instructions that are designed to be user-friendly and easy to follow. Whether you're a DIY enthusiast or new to furniture assembly, our step-by-step guides will help you navigate through the process with confidence.
            </p>
            <p class="mb-6">
                For those who prefer assistance, we offer professional assembly services to ensure that your furniture is expertly put together. Our skilled technicians are trained to assemble each piece accurately, saving you time and effort. This option allows you to enjoy your new furniture without the hassle of putting it together yourself.
            </p>
            <p class="mb-6">
                At Woodbobe, we prioritize your convenience and satisfaction. Whether you choose to assemble the furniture yourself or opt for our professional services, we're committed to providing you with a seamless experience from the moment you receive your order to the moment you enjoy your beautifully assembled furniture.
            </p>
        </section>
    </main>
    <%- include('./partial/footer.ejs') %>
    <%- include('./partial/scripts.ejs') %>
</body>
</html>