<!DOCTYPE html>
<html lang="en">
<%- include('./partial/header.ejs') %>

  <body>
    <%- include('./partial/navbar.ejs') %>
      <%- include('./partial/mobilenavbar.ejs') %>
        <main>
          <section class="px-1 md:px-7 md:mx-[8%]">
            <div>
              <p class="text-4xl text-center">Payment Canclled.</p>
              <p id="redirectCount" class="text-center text-red-500"></p>
            </div>
          </section>
        </main>
        <script>
            $(document).ready(function () {
                let countdown = 5;
                let countdownInterval = setInterval(function () {
                    $('#redirectCount').text(`Redirecting to Checkout in ${countdown} seconds...`);
                    countdown--;
                    if (countdown === 0) {
                        clearInterval(countdownInterval);
                        window.location.href = '/checkout';
                    }
                }, 1000);
            });
        </script>
        <%- include('./partial/footer.ejs') %>
          <%- include('./partial/scripts.ejs') %>
  </body>

</html>