<!DOCTYPE html>
<html lang="en">
<%- include('./partial/header.ejs') %>

    <body>
        <%- include('./partial/navbar.ejs') %>
            <%- include('./partial/mobilenavbar.ejs') %>
                <main>
                    <section class="container px-7 mx-auto my-20">
                        <div class="w-fit mx-auto p-4">
                            <form id="new_reset_Pass_form" action="" method="post">
                                <section>
                                    <div class="my-3">
                                        <div class="">
                                            <img class="mx-auto bg-slate-200 p-2 rounded-full"
                                                src="https://cdn-icons-png.flaticon.com/32/8204/8204224.png"
                                                alt="Password_key">
                                        </div>
                                    </div>
                                    <div class="my-3">
                                        <h2 class="text-center text-2xl font-medium">New Password</h2>
                                        <p class="text-center text-neutral-400">Your New Password, Your Enhanced
                                            Security</p>
                                    </div>
                                    <div class="my-3">
                                        <label class="text-sm text-gray-600 px-1" for="newpassword">Password</label>
                                        <input class="block focus:outline-none border w-full py-1 px-2 rounded-md"
                                            type="password" name="newpassword" id="newpassword"
                                            placeholder="Enter your email">
                                    </div>
                                    <div class="mt-3">
                                        <label class="text-sm text-gray-600 px-1" for="confnewpassword">Confirm
                                            Password</label>
                                        <input class="block focus:outline-none border w-full py-1 px-2 rounded-md"
                                            type="password" name="confnewpassword" id="confnewpassword"
                                            placeholder="Confirm your Password">
                                    </div>
                                    <div class="mb-3">
                                        <p class="text-red-300 text-sm" id="passwordMismatchError"></p>
                                    </div>
                                    <div class="my-3">
                                        <button class="w-full bg-neutral-600 text-white p-2 rounded-md"
                                            type="submit">Reset Password</button>
                                    </div>
                                    <div class="my-3 mx-auto flex justify-center">
                                        <span class="mx-2"><i class="fa-solid fa-arrow-left"></i></span>
                                        <a href="/login">Back to Login</a>
                                    </div>
                                </section>
                                <script>
                                    $(document).ready(function () {
                                        $("#new_reset_Pass_form").submit(function (event) {
                                            event.preventDefault();


                                            var password = $("#newpassword").val();
                                            var confirmPassword = $("#confnewpassword").val();

                                            // Check if password fields are empty
                                            if (password.trim() === "" || confirmPassword.trim() === "") {
                                                $("#passwordMismatchError").text("Please fill in both password fields.");
                                                return;
                                            }

                                            // Check if passwords match
                                            if (password !== confirmPassword) {
                                                $("#passwordMismatchError").text("Passwords do not match. Please try again.");
                                                return;
                                            }

                                            // Check password format using regex
                                            var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/;
                                            if (!passwordRegex.test(password)) {
                                                $("#passwordMismatchError").text("Password must be at least 8 characters long, contain one uppercase letter, one lowercase letter, and one number.");
                                                return;
                                            }

                                            this.submit();
                                        });
                                    });
                                </script>

                            </form>
                        </div>
                    </section>
                </main>
                <%- include('./partial/footer.ejs') %>
                    <%- include('./partial/scripts.ejs') %>
    </body>

</html>