<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/header.ejs') %>
<body>
    <%- include('./partial/navbar.ejs') %>
    <%- include('./partial/mobilenavbar.ejs') %>
    <main>
        <section class="container px-[10%] mx-auto my-2 font-light">
            <h1 class="text-3xl my-4 border-b border-blue-600 w-fit pb-2">Our Return Policy</h1>
            <p class="mb-6">
                At Woodbobe, we're dedicated to providing you with a hassle-free return policy that caters to your needs when it comes to furniture. As a company that values your satisfaction, we understand the importance of making the right choice for your living spaces. Our commitment is to offer a seamless shopping experience that grants you the flexibility you deserve.
            </p>
            <p class="mb-6">
                Our return policy has been carefully crafted to ensure your peace of mind. Should you find that the furniture you've chosen doesn't align with your preferences or requirements, our straightforward return process is at your service. Whether it's a matter of style, fit, or any other consideration, we're here to accommodate you.
            </p>
            <p class="mb-6">
                With a reasonable timeframe for returns, you'll have ample opportunity to assess your furniture within the comfort of your own home. Our dedicated customer support team is readily available to assist you throughout the return journey, addressing any queries or concerns you might have.
            </p>
            <p class="mb-6">
                At Woodbobe, your satisfaction is paramount. We're committed to delivering furniture that enriches your spaces and mirrors your individual taste. Our user-friendly return policy empowers you to explore our furniture range with confidence, knowing that we're here to guide you through every step of the process.
            </p>
        </section>
    </main>
    <%- include('./partial/footer.ejs') %>
    <%- include('./partial/scripts.ejs') %>
</body>
</html>