<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/header.ejs') %>
<body>
    <%- include('./partial/navbar.ejs') %>
    <%- include('./partial/mobilenavbar.ejs') %>
    <main>
        <section class="ccontainer px-[10%] mx-auto my-2 font-light">
            <div class="max-w-6xl mx-auto p-6">
                <h1 class="text-3xl my-4 border-b border-blue-600 w-fit pb-2">Shipping Method at Woodbobe</h1>
            
                <p class="mb-6">Woodbobe takes pride in offering a reliable and efficient shipping method that ensures your furniture reaches you in perfect condition and within the specified timeframe. Our shipping process is designed to provide you with peace of mind and a smooth delivery experience.</p>
            
                <p class="mb-6">Once you place your order, our dedicated team carefully prepares your furniture for shipping. We prioritize secure packaging to safeguard your items during transit, minimizing the risk of any damage. Our commitment to quality extends to every step of the shipping process.</p>
            
                <p class="mb-6">We partner with reputable shipping carriers to deliver your furniture to your doorstep. Depending on your location and the size of the items, we offer various shipping options to suit your preferences and requirements. You can expect timely updates on your shipment's status, allowing you to track its journey from our warehouse to your home.</p>
            
                <p class="mb-6">In the event that you need assistance or have any questions about your shipment, our customer support team is readily available to provide you with the information you need. We believe that transparency and communication are essential components of a positive shipping experience.</p>
            
                <p class="mb-6">At Woodbobe, we understand that receiving your furniture in excellent condition and on time is crucial. Our commitment to reliable shipping reflects our dedication to ensuring that your shopping experience with us is exceptional from start to finish.</p>
            </div>
        </section>
    </main>
    <%- include('./partial/footer.ejs') %>
    <%- include('./partial/scripts.ejs') %>
</body>
</html>