<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/header.ejs') %>
<body>
    <%- include('./partial/navbar.ejs') %>
    <%- include('./partial/mobilenavbar.ejs') %>
    <main>
        <section class="container px-7 mx-auto my-20">

        </section>
    </main>
    <%- include('./partial/footer.ejs') %>
    <%- include('./partial/scripts.ejs') %>
</body>
</html>